
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
  font-family: 'Raleway', Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: rgb(247, 246, 246);
}

#navbar {
  font-family: 'Poller One', Arial, sans-serif;
  flex-grow: 1;
  max-height: 40px;
  min-height: 40px;
  /* background-color: #a56435; */
  color: rgb(108, 131, 122);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* border:1px solid black; */
  margin-top:65px;
  
  
}

.products_page .book_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.book {

  margin: 1rem;
  padding: .75rem;
  background-color:rgb(255, 255, 255);
  font-family:'Alumni Sans Pinstripe', sans-serif;
  max-width:250px;
  display:flex;
  flex-direction: column;
  border-radius: 5px;
 
}

.book_admin{
  margin: 1rem;
  padding: .75rem;
  border: black solid 1px;
  background-color:rgb(255, 255, 255);
  font-family:'Abel', sans-serif;
  max-width:250px;
  display:flex;
  flex-direction: column;
  border-radius: 5px;
  font-size: 16px;
  color:black;
}

.book_image {
  width:150px;
  height:200px;
  align-self: center;
  border-radius: 5px;
  /* border:1px solid black; */
  box-shadow: 4px 4px 4px rgb(205, 201, 199)
}
.book_title {
  color:#374f59;
  text-decoration: none;
  border-bottom:dotted 2px #a56435;
  font-size: 25px;
}


.book_author{
  color:#a56435;
  font-size: 20px;
  font-weight: bold;
}

.book_price{
  font-size:25px;
  font-weight: bold;
  margin-top:20px;
}

.book button {
  width:35px;
  height:35px;
  padding: 5px;
  margin-top: 20px;
  margin-left:10px;
}
.price_cart_trash {
  display:flex; 
  flex-direction: row;
  justify-content: center;

 
  
}
.book_page{
  font-family:'Alumni Sans Pinstripe', sans-serif;
  background-color: white;
  margin-right:30px;
  margin-left:30px;
  padding:15px;
  border-radius: 5px;


}

.book_page div {
    display: flex;
}

.book_page_image{
  width:250px;
  max-height: 375px;
  border-radius: 5px;
  margin-right:7px;
}

.book_page_title{
  color:#184C44; 
}

.book_page_author{
  font-size: 22px;
  color:#a56435;
  font-weight: bold;
}

.next_to_picture {

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width:110px;
 
}

.quant_book_page{
  font-size: 21px;
  font-weight:bold;
}

.quant_input{
  font-size: 16px;
  font-family: 'Abel', sans-serif;
  font-weight:bold;
 
}


.book_description{
  font-size:20px;
  font-family: 'Abel', sans-serif;

}

.register_form {
    display: flex;
    flex-direction: column;
    margin: 150px;
}




/* BEGINNING OF CART PAGE CSS */


.cart_page {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-around;
    column-gap: 5rem;
}

.cart_list {
    display: flex;
    flex-direction: row;
    margin-left: 5rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.cart_items {
    grid-column-start: 1;
    grid-column-end: 3;
}

.cart_img {
    display: flex;
    align-self: center;
    width: 15rem;
    flex-grow: 1;
    padding: 1rem;
    background: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 15px;

}

.cart_img img {
    height: 15rem;
    border-radius: 5px;
}

.cart_book_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 1rem;
}

.cart_book_info h2,
h4,
p {
    margin: 5px 0;
}

.cart_price {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    font-size: 20px;
}

.cart_quantity_buttons {
    display: flex;
    align-self: flex-end;
}

.cart_quantity_buttons button,
input {
    margin: 2px;
    max-width: 10rem;
}

.cart_quantity_button input {
    text-align: center;
}

.total_checkout {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 2rem;
}

.order_summary {
    margin-right: 5rem;
    border: 1px solid black;
}
.order_summary h2 {
    text-align: center;
}

.total_checkout button {
    width: 7rem;
    margin-top: 1rem;
}

.total_checkout p {
    font-size: 20px;
    font-weight: bold;
    margin-top: 3rem;
}

.quote {
    grid-column: 1 / -1;
}

.quote h2 {
    text-align: center;
}

#trashcan img {
    width: 2rem;
    height: 2rem;
}

#instock {
    color: green;
    }

.register_link{
  color:#184C44;
  text-decoration:none;
  align-self: center;
  font-size:20px;
}

.all_users_list{
  border:1px solid black;
  margin:1rem;
  padding:1rem;
  border-radius: 5px;
}

.all_books_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: 'Abel';
}

.admin_tabs{
  padding:1rem;
  font-family:'Alumni Sans Pinstripe', sans-serif;
  font-size:25px;
  font-weight: bold;
  color:#184C44;
  background-color: white;
  margin:10px;
  border-radius: 5px;;
  /* color:#a56435 */
}

 .edit_form{
  display:flex;
  flex-direction: column; 
}

.add_book_form{
  display:flex;
  flex-direction: column;
  font-family:'Abel', sans-serif;
  font-size:18px;
}

.add_book_button{
  width:100px;
  align-self: center;
  margin-top:5px;
  font-family:'Abel', sans-serif;
}

.landing_page {
  margin: 1rem;
  height: 300px;
  background-color: white;
  border-radius: 5px;
  padding:20px;
  font-family:'Alumni Sans Pinstripe', sans-serif;
  font-size: 35px;
  color:#374f59;
}

.landing_name{
  color:#a56435;
  font-size:35px;
}

.landing_image{
  width:400px;
  float:right;
}

.logo{
  margin-top:none;
  width:270px;
}

.logo_nav{
  display: flex;
  align-items: center;
  justify-content:space-between;
}

#logout_button{
  display:flex;
  flex-grow:1;
  justify-content: flex-end;
 
}

.logout{
  color:#184C44;
  text-decoration: none;
  margin-right:10px;
  font-family:'Alumni Sans Pinstripe', sans-serif;
  font-size:30px;
  font-weight: bold;
}

.nav_buttons  {
  margin-right:10px;
  text-decoration: none;
  color: #a56435;
  border-right: 1px solid #a56435;
  padding-right:10px;
  font-family:'Alumni Sans Pinstripe', sans-serif;
  font-size:30px;  
 
}

 .nav_buttons li:last-child {
  border-right:none;
}

li {
  display:inline;
}

#cart_nav{
  font-size:20px
}


.login_form{
  display: flex;
  justify-content: flex-end;
  border: 1px solid #a56435;
  border-radius: 2px;
  flex-direction: column;
  margin-right:5px;
  padding:5px;
  font-family:'Alumni Sans Pinstripe', sans-serif;
  font-weight:bolder;
  
}

.login_input,  .login_button {
  font-family: 'Abel', sans-serif;
}




.navbar_box{
  display:flex;
  flex-direction: column;
  margin-bottom: none;
  margin-top: 65px;
}

.user_info{
  font-family:'Abel', sans-serif;
  font-size:16px;
  color:black;
 

}
