body {
  font-family: 'Raleway', Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#navbar {
  font-family: 'Poller One', Arial, sans-serif;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
  background-color: #222222;
  color: white;
  display: flex;
  align-items: center;
}

.products_page .book_list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.book {
  margin: 1rem;
  padding: 1rem;
  border: black solid 1px;
}

.book_page div {
  display: flex;
}

.next_to_picture {
  display: flex;
  flex-direction: column;
}

.register_form{
  display:flex;
  flex-direction: column;
  margin:150px;
}

.register_link{
  color:white;
  text-decoration:none;
}

.all_users_list{
  border:1px solid black;
  margin:1rem;
  padding:1rem;
}

.all_books_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.admin_tabs{
  padding:1rem;
}
