@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");

body {
  font-family: "Raleway", Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: rgb(247, 246, 246);
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

/* Navbar CSS */

#navbar {
  font-family: "Poller One", Arial, sans-serif;
  flex-grow: 1;

  color: rgb(108, 131, 122);


  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  padding-right: 2rem;
  padding-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.logo {
  width: 20%;
}

.logo_words {
  width: 30%;
  align-self: center;
}

.navbar_box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.15rem;
  align-items: flex-end;
}

.register_link {
  color: #184c44;
  text-decoration: none;
  align-self: center;
  font-size: 20px;
}

#logout_button {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.logout {
  color: #184c44;
  text-decoration: none;
  margin-right: 10px;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-size: 30px;
  font-weight: bold;
  border: none;
  background-color: rgb(247, 246, 246);
}

.nav_link_list {
  margin-top: 2rem;
}

.nav_link {
  text-decoration: none;
  color: #a56435;
  margin-right: 10px;
  border-right: 1px solid #a56435;

  padding-right: 10px;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-size: 30px;
}

.nav_link:last-of-type {
  margin-right: 0px;
  border-right: none;
}

#cart_nav_link {
  font-size: 24px;
}

.login_form {
  display: flex;
  justify-content: flex-end;
  border: 1px solid #a56435;
  border-radius: 2px;
  flex-direction: column;
  margin-right: 5px;
  padding: 5px;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: bolder;
}


.login_error_message{
  display: flex;
  justify-content: center;
  font-family: 'Abel', sans-serif;
  color: #a56435;
}

.login_input,  .login_button {
    font-family: 'Abel', sans-serif;
}

/* Products Page CSS */

.products_page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products_page input {
  width: 40%;
  margin-top: 2rem;
  font-family: "Abel", sans-serif;
  font-weight:bold;
}


/* .products_page */
 .book_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.categories button{
  border:none;
  background-color:#184c4421;
  font-family: "Bellefair", serif;
  font-size:18pt;
  /* font-weight:bold; */
  color:#184C44;
  border-right: 1px solid #184C44; 
}

.categories button:last-of-type{
  border:none;
}

.categories button:hover{
  color: #a56435;
}
.book {
  display: flex;
  flex-direction: column;
  width: 14rem;
  margin: 1rem;
  padding: 0.75rem;
  background-color: rgb(255, 255, 255);
  font-family: "Alumni Sans Pinstripe", sans-serif;
  border-radius: 5px;
}

.book_admin {
  margin: 1rem;
  padding: 0.75rem;
  border: black solid 1px;
  background-color: rgb(255, 255, 255);
  font-family: "Abel", sans-serif;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  font-size: 16px;
  color: black;
}

.book_image {
  width: 150px;
  height: 200px;
  align-self: center;
  border-radius: 5px;
  /* border:1px solid black; */
  box-shadow: 4px 4px 4px rgb(205, 201, 199);
}
.book_title {
  color: #374f59;
  text-decoration: none;
  border-bottom: solid 2px #a56435;
  font-size: 25px;
}

.book_title:hover {
  border-bottom: solid 3px #184c44;
}

.book_author {
  color: #a56435;
  font-size: 20px;
  font-weight: bold;
}

.book_price {
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
}

.book button {
  width: 35px;
  height: 35px;
  padding: 5px;
  margin-top: 20px;
  margin-left: 10px;
}

.price_cart_trash {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.book_page {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  background-color: white;
  margin-right: 30px;
  margin-left: 30px;
  padding: 15px;
  border-radius: 5px;
}

.book_page div {
  display: flex;
}

.book_page_image {
  width: 250px;
  max-height: 375px;
  border-radius: 5px;
  margin-right: 7px;
}

.book_page_title {
  color: #184c44;
}

.book_page_author {
  font-size: 22px;
  color: #a56435;
  font-weight: bold;
}

.next_to_picture {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 30%;
}

.quant_book_page {
  font-size: 21px;
  font-weight: bold;
}

.quant_input {
  font-size: 16px;
  font-family: "Abel", sans-serif;
  font-weight: bold;
  width: 70px;
}

.next_to_picture button {
  width: 70px;
  margin-top: .2rem;
}

.book_description {
  font-size: 20px;
  font-family: "Abel", sans-serif;
}

.register_container{
  display: flex;
  justify-content: center;
  background: rgb(255, 255, 255);
  margin-left: 200px;
  margin-right: 200px;
}

.register_title{
  display: flex;
  justify-content: center;
  font-family: 'Abel', sans-serif;
  font-size: xx-large;
  color:#184C44;
}

.register_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: solid 2px black;
  border-radius: 5px;
}

.input_container{
  display: flex;
  justify-content: space-between;
}

.register_label{
  display: flex;
  align-items: center;
  font-family: 'Abel', sans-serif;
  color:#a56435;
}

.register_input{
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Abel', sans-serif;
}

.register_button{
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Abel', sans-serif;
}

.register_message{
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: 'Abel', sans-serif;
  color:#a56435;
  font-size: x-large;
  padding-top: 80px;
}

/* BEGINNING OF CART PAGE CSS */

.cart_page {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-around;
  column-gap: 5rem;
}

.cart_item {
  display: flex;
  flex-direction: row;
  margin-left: 5rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-family: "Abel", sans-serif;
  color: #433b31;
}
.cart_list {
  grid-column-start: 1;
  grid-column-end: 3;
}

.cart_img {
  display: flex;
  align-self: center;
  width: 15rem;
  flex-grow: 1;
  padding: 1rem;
  background: rgb(255, 255, 255);
  margin-top: 20px;
  margin-bottom: 15px;
}

.cart_img img {
  height: 10rem;
  border-radius: 5px;
}

.cart_book_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 1rem;
}

.cart_book_info h2,
h4,
p {
  margin: 5px;
}

.cart_book_info button {
  font-family: "Abel", sans-serif;
}

.cart_book_title {
  color: #433b31;
}

.quantity_input {
  width: 50px;
}

.cart_price {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  font-size: 20px;
}

.cart_quantity_buttons {
  display: flex;
  align-self: flex-start;
}

.cart_quantity_buttons button {
        margin: 2px;
        max-width: 10rem;
}

.cart_quantity_buttons input {
  margin: 2px;
  max-width: 10rem;
}

.cart_quantity_button input {
  text-align: center;
}

.total_checkout {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 2rem;
}

.order_summary {
  margin-right: 5rem;
  border: 1px solid black;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  font-family: "Abel", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 500px;
}
.order_summary h2 {
  text-align: center;
  font-family: "Abel", sans-serif;
  color: #374f59;
}

.order_summary button {
  font-family: "Abel", sans-serif;
  font-size: 15px;
}

.empty_cart {
  font-family: "Abel", sans-serif;
  background-color: rgb(255, 255, 255);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.book_graphic {
  width: 100px;
}

.quote {
  grid-column: 1 / -1;
}

.quote h2 {
  text-align: center;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  color: #433b31;
}

#trashcan img {
  width: 2rem;
  height: 2rem;
}

.in_stock {
  color: green;
}

.out_of_stock {
  color: red;
}

.all_users_list {
  border: 1px solid black;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

.all_books_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: "Abel";
}

.admin_tabs {
  padding: 1rem;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #184c44;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  /* color:#a56435 */
}

.edit_form {
  display: flex;
  flex-direction: column;
}

.add_book_form {
  display: flex;
  flex-direction: column;
  font-family: "Abel", sans-serif;
  font-size: 18px;
}

.add_book_form input {
  width: 20%;

}

.add_book_button {
  width: 100px;

  margin-top: 5px;
  font-family: "Abel", sans-serif;
}

.landing_page {
  margin: 2rem;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  color: #374f59;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing_text {
  width: 600px;
  color: black;
  text-align: center;
  font-size: 28px;
}

.sheds_dignity {
  font-family: "Bellefair", serif;
  color: #184c44;
  font-size: 32px;
}

.and {
  font-family: "Caveat", cursive;
  size: 10px;

  color: #a56435;
}

.landing_image {
  width: 70px;
  float: right;
}

.user_info {
  font-family: "Abel", sans-serif;
  font-size: 12px;
  color: black;
}

.checkout_header {
  font-family: "Abel", sans-serif;
  display: flex;
  color: #374f59;
  text-decoration: none;
  border-bottom: solid 2px #a56435;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 25px;
  justify-content: center;
}
.checkout_reminder {
  font-family: "Abel", sans-serif;
  display: flex;
  justify-content: center;
  color: #374f59;
  text-decoration: none;
  font-size: 20px;
}

.continue_shopping {
  text-decoration: none;
  color: #a56435;
}

.continue_shopping:hover {
  border-bottom: solid 2px #184c44;
}

.checkout_order {
  font-family: "Abel", sans-serif;
  width: 110px;
  padding-top: 40px;
  margin-left: 35px;
  border-bottom: solid 2px #a56435;
}

.checkout_total {
  font-family: "Abel", sans-serif;
  padding-top: 10px;
  margin-left: 35px;
}

.checkout_book_box {
  justify-items: space-around;
  width: 60%;
  margin-left: 100px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: solid 2px black;
}

.checkout_book_sub {
  display: flex;
  background-color: rgb(255, 255, 255);
  align-items: flex-start;
}

.checkout_book_info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  justify-self: center;
}

.checkout_title {
  font-family: "Abel", sans-serif;
}

.checkout_author {
  font-family: "Abel", sans-serif;
}

.checkout_img {
  display: flex;
  align-self: center;
  height: 10rem;
  border-radius: 5px;
  padding: 10px;
}

.user_info {
  font-family: "Abel", sans-serif;
  font-size: 16px;
  color: black;
}

/* ORDER HISTORY SECTION */

.order_history {
  margin-right: 10rem;
  margin-left: 10rem;
  font-family: "Abel", sans-serif;
}

.user_profile_info {
  border: 1px solid black;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  font-family: "Abel", sans-serif;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 18px;
}
.edit_user_button {
  margin-left: 10px;
}

.update_user_form {
  border: 1px solid #184c44;
  margin: 15px;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  font-family: "Abel", sans-serif;
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: 18px;
}

.update_user_button {
  width: 70px;
  /* margin:10px; */
  font-family: "Abel", sans-serif;
}

.user_tabs {
  background-color: rgb(255, 255, 255);
  margin: 10px;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #184c44;
  padding: 1rem;
}

.order_history img {
  height: 12rem;
  width: 8rem;
  border-radius: 5px;
}

.order_items {
  border: 1px solid black;
  border-radius: 5px;
  font-size:15px;
  margin: 1rem;
  padding: 1rem;
  color:black;
}


.single_item {
  border-top: 1px solid #374f59;
  padding: 1rem;
}


.checkout_price {
  font-family: "Abel", sans-serif;
}

.checkout_quantity {
  font-family: "Abel", sans-serif;
}

.checkout_book_box:last-child {
  border-bottom: none;
}
